.login {
    #login-buttons{
        margin-top: 1em;
        vertical-align: top;

        a{
            text-decoration: none;
            border: none; 
            color: #fff;
        }

        .login-close-text {
            border: none;
            color: #444;
        }
    } 

	.avatar {
		border-radius: 4px;
		border: 1px solid #000; 
		float: right;
		height: 3em;
		margin-left: 1em;
		height: 32px;
	}
}