/////////////////////////////////
//Fonts
/////////////////////////////////



a, a:link, a:visited {
    border-bottom: 1px dotted rgba(0, 0, 0, .4);
    color: $blue;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}